@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="Instrumentos span3">
        <h2>Instrumentos</h2>
        <img src="~/Content/Imagenes/instrumentos.jpg" width="173" height="163" alt="Instrumentos" />
        <p class="tight">Somos distribuidores de las siguientes marcas de instrumentos de viento autorizados:</p>
        <ul class="listCompact">
            <li class="tight">Cannonball</li>
            <li class="tight">Holton</li>
            <li class="tight">Buffet</li>
            <li class="tight">King</li>
            <li class="tight">Yanagisawa</li>
            <li class="tight"><span class="LandL">L&nbsp;&amp;&nbsp;L</span> Winds</li>
            <li class="tight">Gemeinhardt</li>
            <li class="tight">Selmer</li>
            <li class="tight">LeBlanc</li>
            <li class="tight">Pearl</li>
            <li class="tight">Vito</li>
            <li class="tight">Bach</li>
        </ul>
    </div>

    <div class="Reparaciones span3">
        <div class="colspan1">
            <h2>Reparación</h2>
            <img src="~/Content/Imagenes/reparar.jpg" width="173" height="163" alt="Repairs" />
            <p class="tight">Especializada en la reparación de instrumentos de metal y de madera de más de 15 años, ofrecemos a nuestros clientes la mejor calidad en las reparaciones. Los estudiantes, profesores, aficionados y profesionales acuden a nosotros para el mantenimiento regular o reparaciones importantes. La mayoría de nuestras reparaciones se realizan en el lugar. Garantizamos nuestras reparaciones por 90 días, si usted todavía tiene el mismo problema así que traiga adentro y nosotros nos encargamos de eso. Queremos que nuestros clientes estén contentos con el trabajo que hacemos.</p>
        </div>
    </div>

    <div class="Alquiler span3">
        <h2>Alquiler</h2>
        <img src="~/Content/Imagenes/rentals.jpg" width="173" height="163" alt="Rentals" />

        <p class="tight">Alquilamos latón nuevos y usados ​​y los instrumentos de viento de madera. Nuestros contratos son "Rente para Poseer" y están estructurados para ser terminado en 3-3 años y medio. El cien por ciento de la renta se aplica a la compra del equipo alquilado o cualquier otro instrumento de igual o mayor valor.</p>
        <p class="tight">También proporcionamos cobertura de mantenimiento opcional por una tarifa trimestral nominal. Todos los instrumentos de alquiler son inspeccionados y ajustados por nuestros técnicos antes de ser alquilado. Esto asegura que cualquier instrumento que usted recibe de S & M música está en las mejores condiciones de juego.</p>

    </div>

</div>
                    
     


